<mat-card>
  <mat-card-title>Train parts</mat-card-title>
  <mat-card-content fxLayout="column">

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="1234" #input>
    </mat-form-field>

    <div fxLayout="row">
      <table style="width:100%" mat-table matSort [dataSource]="dataSource" class="mat-elevation-z0">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let trainPart">{{trainPart.id}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let trainPart">{{trainPart.name}}</td>
        </ng-container>

        <ng-container matColumnDef="from">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>From</th>
          <td mat-cell *matCellDef="let trainPart">{{trainPart.fromCode}} | {{trainPart.from}}</td>
        </ng-container>

        <ng-container matColumnDef="to">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>To</th>
          <td mat-cell *matCellDef="let trainPart">{{trainPart.toCode}} | {{trainPart.to}}</td>
        </ng-container>

        <ng-container matColumnDef="line">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Line</th>
          <td mat-cell *matCellDef="let trainPart">{{trainPart.line}}</td>
        </ng-container>

        <ng-container matColumnDef="timesReferenced">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Used # times</th>
          <td mat-cell *matCellDef="let trainPart">{{trainPart.timesReferenced}}</td>
        </ng-container>

        <ng-container matColumnDef="commercialUses">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Commercial uses</th>
          <td mat-cell *matCellDef="let trainPart">{{trainPart.commercialUses}}</td>
        </ng-container>

        <ng-container matColumnDef="operationalUses">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Operational uses</th>
          <td mat-cell *matCellDef="let trainPart">{{trainPart.operationalUses}}</td>
        </ng-container>

        <ng-container matColumnDef="op">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Operating period</th>
          <td mat-cell *matCellDef="let trainPart">{{trainPart.op.id}}: {{trainPart.op.name}}</td>
        </ng-container>

        <ng-container matColumnDef="ocpTTs">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>OcpTTs</th>
          <td mat-cell *matCellDef="let trainPart" matTooltip="{{trainPart.ocpTTList}}">{{trainPart.ocpTTs.length}}</td>
        </ng-container>

        <ng-container matColumnDef="stops">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Stops</th>
          <td mat-cell *matCellDef="let trainPart" matTooltip="{{trainPart.stopList}}">{{trainPart.stops.length}}</td>
        </ng-container>

        <ng-container matColumnDef="cancellation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cancellation</th>
          <td mat-cell *matCellDef="let trainPart">{{trainPart.cancellation}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[20, 150, 5000]" showFirstLastButtons></mat-paginator>

  </mat-card-content>
</mat-card>
