.no-control-calendar {
  width: 140px;
  display: inline-block;
  float: left;
}

.no-control-calendar .mat-calendar-header {
  display: none;
}

//mat-year-view .mat-calendar-body-label{
//  display: none !important;
//}
.no-control-calendar.mat-calendar {
  height: 120px !important;

  .mat-calendar-table-header th {
    padding: 8px 0;
  }
}

.mat-calendar-table-header {
  display: none;
}

.highlighted-date {
  background: orange;
  //border-radius: 100%;
}

// dropzone style
.dropzone {
  //height: 80px;
  width: 100%;
  text-align: center;
  border: dashed 1px #aaaaaa;
  margin: 0 auto;
  position: relative;

  input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
  }

  .railml-info {
    position: absolute;
    text-align: left;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
  }
}
