.no-control-calendar {
  width: 140px;
  display: inline-block;
  float: left;
}

.no-control-calendar .mat-calendar-header {
  display: none;
}

//mat-year-view .mat-calendar-body-label{
//  display: none !important;
//}
.no-control-calendar.mat-calendar {
  height: 120px !important;

  .mat-calendar-table-header th {
    padding: 8px 0;
  }
}

.mat-calendar-table-header {
  display: none;
}

.highlighted-date {
  background: #6dbbe7;
  border-radius: 100%;
}

.leader-line {
  z-index: 20;
}
