<div fxLayout="row" fxFlex="flex-grow" fxLayoutAlign="space-between" fxLayoutGap="12px" [style.margin-top]="'12px'" [style.margin-left]="'12px'" [style.margin-right]="'12px'" fxFlexFill>
  <div fxFlex="flex-grow" fxLayout="column" fxLayoutGap="12px">

    <dropzone></dropzone>

    <rail-filter></rail-filter>

    <mat-tab-group>
      <mat-tab label="Trains">
        <train-view></train-view>
      </mat-tab>

      <mat-tab label="Graph">
        <graph></graph>
      </mat-tab>

      <mat-tab label="Train parts">
        <train-part-list></train-part-list>
      </mat-tab>
    </mat-tab-group>

    <googlemap></googlemap>

  </div>
  <!--  <op-calendar></op-calendar>-->
</div>
