<mat-card>
  <mat-card-title>Map</mat-card-title>
  <mat-card-content>
    <mat-slider style="width:100%"
                thumbLabel
                [displayWith]="formatTime"
                tickInterval="1"
                min="{{min}}"
                max="{{max}}"
                [(value)]="utcTime" (input)="onSliderValueChanged($event.value)"></mat-slider>

    <google-map [options]="mapOptions" width="100%">

      <ng-container *ngFor="let trainCourse of trainCourses">
        <map-polyline [path]="trainCourse.stations" [options]="{strokeColor:'#ff0000'}"></map-polyline>

        <map-marker *ngIf="trainCourse.trainPosition"
                    [position]="trainCourse.offset"
                    [title]="trainCourse.currentStop.trainPartId"
                    [label]="{text: trainCourse.currentStop.trainNumber, color: 'black', fontSize: '8px'}"
                    [clickable]="true"
                    [options]="{draggable: false}"></map-marker>

        <map-polyline [path]="[trainCourse.trainPosition, trainCourse.offset]" [options]="{strokeColor:'#555555'}"></map-polyline>

      </ng-container>

      <!--      <map-marker *ngFor="let station of stations"-->
      <!--                  [position]="station"-->
      <!--                  [title]="station.name"-->
      <!--                  [label]="station.code"-->
      <!--                  [clickable]="true"-->
      <!--                  [options]="{draggable: false}"></map-marker>-->

    </google-map>
  </mat-card-content>
</mat-card>
