<mat-card>
  <mat-card-title>Map</mat-card-title>
  <mat-card-content fxLayout="column">

    <div fxLayout="row">
      <span>{{formatTime((map$ | async).min)}}</span>
      <mat-slider style="width:100%"
                  thumbLabel
                  [displayWith]="formatTime"
                  tickInterval="1"
                  min="{{(map$ | async).min}}"
                  max="{{(map$ | async).max}}"
                  [value]="timeUtc$ | async" (input)="onSliderValueChange($event.value)"></mat-slider>
      <span>{{formatTime((map$ | async).max)}}</span>
    </div>

    <mat-checkbox [ngModel]="(map$ | async).showStations" (ngModelChange)="onShowStationsChange($event)">Show stations</mat-checkbox>


    <google-map [options]="mapOptions" width="100%">

      <ng-container *ngFor="let trainCourse of trainCourses">
        <map-polyline [path]="trainCourse.stations" [options]="{strokeColor:trainCourse.color}"></map-polyline>

        <map-marker *ngIf="trainCourse.trainPosition"
                    [position]="trainCourse.offset"
                    [title]="trainCourse.currentStop.trainPartId"
                    [label]="{text: trainCourse.currentStop.trainNumber, color: 'black', fontSize: '8px'}"
                    [clickable]="true"
                    [options]="{draggable: false}"></map-marker>
      </ng-container>

      <ng-container *ngIf="(map$ | async).showStations">
        <map-marker *ngFor="let station of stations"
                    [position]="station"
                    [title]="station.name"
                    [label]="station.code"
                    [clickable]="true"
                    [options]="{draggable: false}"></map-marker>
      </ng-container>

      <ng-container *ngFor="let trainCourse of trainCourses">
        <map-polyline *ngIf="trainCourse.trainPosition" [path]="[trainCourse.trainPosition, trainCourse.offset]" [options]="{strokeColor:'#555555'}"></map-polyline>
      </ng-container>

    </google-map>
  </mat-card-content>
</mat-card>
