<div class="dropzone">
  <input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowserHandler($event.target.files)"/>
  <h2>Your railML.xml here</h2>
  <p>
    <mat-icon>local_fire_department</mat-icon>
    Drop it like it's hot!
    <mat-icon>local_fire_department</mat-icon>
  </p>
  <div class="railml-info" *ngIf="railml">
    <ul>
      <li>RailML: {{fileName}}</li>
      <li>Date range: {{railml.startDate | date:'dd.MM.yyyy'}} - {{railml.endDate | date:'dd.MM.yyyy'}}</li>
      <li>Number of trains: {{railml.trains.size}}
        (commercial: {{railml.commercialTrains.size}}, operational: {{railml.operationalTrains.size}}, comm. numbers: {{railml.commercialTrainNumbers.size}} )
      </li>
      <li>Number of train parts: {{railml.trainParts.size}}</li>
      <li>Number of operating periods: {{railml.ops.size}}</li>
    </ul>
  </div>
</div>
